# Sql uploading the file

In [1]:
import mysql.connector
import pandas as pd

In [ ]:

connection=mysql.connector.connect(
    host="localhost",
    user="root",
    password="0123456789"

)
mycursor=connection.cursor()
mycursor.execute("create database Guvi_proj2")
mycursor.execute("show databases")

In [5]:
stocks=mysql.connector.connect(
    host="localhost",
    user="root",
    password="0123456789",
    database="Guvi_proj2"
)

mycursor=stocks.cursor()

In [ ]:

# Top 10 Volatile

top10=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\top10_volatile.csv")

# mycursor=stocks.cursor()

mycursor.execute("create table top10_vol (Ticker varchar(50) primary key,Volatility float)")

stocks.commit()
for _, rs in top10.iterrows():
    Ticker = rs[0]
    Volatility = rs[1]

    if (pd.isna(Ticker) or pd.isna(Volatility) or str(Ticker).strip()==''):
        continue

    try:
        query = "INSERT INTO top10_vol (Ticker, Volatility) VALUES (%s, %s)"
        mycursor.execute(query, (Ticker, Volatility))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Ticker={Ticker}: {e}")

stocks.commit()

In [ ]:

#Sector wise perf

sect_perf=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\sector_wise.csv")

# mycursor=stocks.cursor()
mycursor.execute("create table sector_perf (Sector varchar(50) primary key,Yearly_return float)")

stocks.commit()
for _, rs in sect_perf.iterrows():
    Sector = rs[0]
    year_ret = rs[1]

    if (pd.isna(Sector) or pd.isna(year_ret) or str(Sector).strip()==''):
        continue

    try:
        query = "INSERT INTO sector_perf (Sector, Yearly_return) VALUES (%s, %s)"
        mycursor.execute(query, (Sector, year_ret))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Sector={Sector}: {e}")

stocks.commit()

In [ ]:
#Top 10 gainers

top_gainers=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\top_gainers.csv")
mycursor.execute("create table top_10_gainer (Ticker varchar(50) primary key,Yearly_return float)")

stocks.commit()
for _, rs in top_gainers.iterrows():
    Ticker = rs[0]
    year_ret = rs[1]

    if (pd.isna(Ticker) or pd.isna(year_ret) or str(Ticker).strip()==''):
        continue

    try:
        query = "INSERT INTO top_10_gainer (Ticker, Yearly_return) VALUES (%s, %s)"
        mycursor.execute(query, (Ticker, year_ret))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Sector={Ticker}: {e}")

stocks.commit()

In [6]:
#Top 5 cum return

cum_ret_df=pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\top5_cumul_return.csv")
mycursor.execute("create table cum_return (Ticker varchar(50) primary key,Cumulative_return float)")

stocks.commit()
for _, rs in cum_ret_df.iterrows():
    Ticker = rs[0]
    cum_ret = rs[1]

    if (pd.isna(Ticker) or pd.isna(cum_ret) or str(Ticker).strip()==''):
        continue

    try:
        query = "INSERT INTO cum_return (Ticker, Cumulative_return) VALUES (%s, %s)"
        mycursor.execute(query, (Ticker, cum_ret))
    except mysql.connector.IntegrityError as e:
        print(f"Skipping duplicate or error for Ticker={Ticker}: {e}")

stocks.commit()

C:\Users\Test\AppData\Local\Temp\ipykernel_12472\2495137617.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  Ticker = rs[0]
C:\Users\Test\AppData\Local\Temp\ipykernel_12472\2495137617.py:9: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  cum_ret = rs[1]

In [10]:
import pandas as pd
import mysql.connector

# Read the data
top_gainers_losers = pd.read_csv(r"C:\Users\Test\Downloads\Guvi project 2\top5_gainers_losers_monthly.csv")

# Drop if table exists to avoid conflicts
mycursor.execute("DROP TABLE IF EXISTS top_gainers_losers")

# Create the table (no primary key on Ticker since it repeats per month)
mycursor.execute("""
    CREATE TABLE top_gainers_losers (
        Ticker VARCHAR(50),
        YearMonth VARCHAR(20),
        Monthly_Return FLOAT,
        Type VARCHAR(20)
    )
""")

# Insert data
for _, rs in top_gainers_losers.iterrows():
    Ticker = rs['Ticker']
    YearMonth = rs['YearMonth']
    Monthly_Return = rs['Monthly Return']
    Type = rs['Type']

    if pd.isna(Ticker) or pd.isna(Monthly_Return) or str(Ticker).strip() == '':
        continue

    try:
        query = """
            INSERT INTO top_gainers_losers (Ticker, YearMonth, Monthly_Return, Type)
            VALUES (%s, %s, %s, %s)
        """
        mycursor.execute(query, (Ticker, YearMonth, Monthly_Return, Type))
    except mysql.connector.Error as e:
        print(f"Skipping error for Ticker={Ticker}: {e}")

stocks.commit()
mycursor.close()
stocks.close()

print("✅ Data successfully inserted into 'top_gainers_losers' table.")

✅ Data successfully inserted into 'top_gainers_losers' table.